
/*top gnb부분*/

/* Navbar 도형 */
.gnb
{position: absolute;
width: 1903px;
height: 44px;
left: -15px;
top: -15px;

background: #313132;}

/* apple1 */
.f0
{position: absolute;
width: 12.28px;
height: 15.5px;
left: 129px;
top: 11px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 0px;
/* identical to box height, or 0% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #BEBEBE;}

/* 스토어 */

.fl{
position: absolute;
width: 31px;
height: 0px;
left: 181px;
top: 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 0px;
/* identical to box height, or 0% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #DCDCDC;}



/* mac */


.f2{position: absolute;
width: 22px;
height: 0px;
left: 252px;
top: 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 0px;
/* identical to box height, or 0% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #DCDCDC;}



/* ipad */


.f3{position: absolute;
width: 22px;
height: 0px;
left: 324px;
top: 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 0px; 
/* identical to box height, or 0% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #DCDCDC;}



/* iphone */


.f4{position: absolute;
width: 34px;
height: 0px;
left: 396px;
top: 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 0px;
/* identical to box height, or 0% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #DCDCDC;}



/* Watch */


.f5{position: absolute;
width: 31px;
height: 0px;
left: 477px;
top: 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 0px;
/* identical to box height, or 0% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #DCDCDC;}



/* Airpods */


.f6{position: absolute;
width: 39px;
height: 0px;
left: 558px;
top: 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 0px;
/* identical to box height, or 0% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #DCDCDC;}



/* TV 및 홈 */


.f7{position: absolute;
width: 40px;
height: 0px;
left: 653px;
top: 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 0px;
/* identical to box height, or 0% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #DCDCDC;}



/* Apple 독점 제공 */

.f8{
position: absolute;
width: 100px;
height: 0px;
left: 742px;
top: 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 0px;
/* identical to box height, or 0% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #DCDCDC;}



/* 액세서리 */

.f9{
position: absolute;
width: 45px;
height: 0px;
left: 866px;
top: 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 0px;
/* identical to box height, or 0% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #DCDCDC;}



/* 고객지원 */

.f10
{position: absolute;
width: 41px;
height: 0px;
left: 951px;
top: 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 0px;
/* identical to box height, or 0% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #DCDCDC;}

/*두번째줄gnb*/
/* Rectangle 2 */
.header-nav
{position: absolute;
width: 1350px;
height: 42px;
left: -1px;
top: 45px;

background: #C7C7C7;
}

/*온라인문구*/
position: absolute;
width: 332px;
height: 0px;
left: 474px;
top: 64px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 0px;
/* identical to box height, or 0% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #727272;


/*첫메인화면*/

/* image 5 */

.who1{
position: absolute;
width: 1246px;
height: 693px;
left: 45px;
top: 0px;

background: url(image.png);}


/* MacBook Air */


position: absolute;
width: 347px;
height: 86px;
left: 217px;
top: 217px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 150%;
/* or 82px */

text-align: center;

color: #000000;



/* 막강한 성능의 */


position: absolute;
width: 172px;
height: 52px;
left: 275px;
top: 303px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 150%;
/* or 42px */

text-align: center;

color: #000000;



/* 더 알아보기 > */


position: absolute;
width: 105px;
height: 26px;
left: 275px;
top: 357px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
/* or 27px */

text-align: center;

color: #3C75AA;



/* 구입하기> */


position: absolute;
width: 105px;
height: 26px;
left: 407px;
top: 357px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
/* or 27px */

text-align: center;

color: #3C75AA;



/* image 4 */


position: absolute;
width: 40px;
height: 39px;
left: 447px;
top: 303px;

background: url(image.png);


/*두번째화면*/

/* image 6 */


position: absolute;
width: 1348px;
height: 696px;
left: 0px;
top: 789px;

background: url(image.png);


/* 일상을 위한 비상한 능력. */


position: absolute;
width: 261px;
height: 52px;
left: 506px;
top: 912px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 150%;
/* or 38px */

text-align: center;

color: #000000;



/* 더 알아보기 > */


position: absolute;
width: 125px;
height: 34px;
left: 512px;
top: 961px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* or 30px */

display: flex;
align-items: center;
text-align: center;

color: #2B7EAD;



/* 구입하기 > */


position: absolute;
width: 118px;
height: 34px;
left: 648px;
top: 961px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* or 30px */

display: flex;
align-items: center;
text-align: center;

color: #2B7EAD;



/* iphone 13 */


position: absolute;
width: 274px;
height: 83px;
left: 493px;
top: 834px;

font-family: 'Sarala';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 150%;
/* identical to box height, or 82px */

text-align: center;

color: #000000;

/*세번째화면*/

/* image 7 */


position: absolute;
width: 1348px;
height: 692px;
left: 0px;
top: 1498px;

background: url(image.png);


/* 이게 바로 프로. */


position: absolute;
width: 254px;
height: 35px;
left: 538px;
top: 1619px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 150%;
/* or 38px */

text-align: center;

color: #000000;



/* 더 알아보기 > */


position: absolute;
width: 125px;
height: 34px;
left: 538px;
top: 1667px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* or 30px */

display: flex;
align-items: center;
text-align: center;

color: #2B7EAD;



/* 구입하기 > */


position: absolute;
width: 118px;
height: 34px;
left: 674px;
top: 1667px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* or 30px */

display: flex;
align-items: center;
text-align: center;

color: #2B7EAD;



/* iphone 13 pro */


position: absolute;
width: 375px;
height: 76px;
left: 475px;
top: 1538px;

font-family: 'Sarala';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 150%;
/* or 82px */

text-align: center;

color: #000000;


/*네번째화면*/

/* image 8 */


position: absolute;
width: 670px;
height: 406px;
left: -1px;
top: 2202px;

background: url(image.png);


/* image 9 */


position: absolute;
width: 29px;
height: 30px;
left: 357px;
top: 2272px;

background: url(image.png);


/* 막강한 성능의 */


position: absolute;
width: 105px;
height: 25px;
left: 264px;
top: 2275px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* or 21px */

text-align: center;

color: #FFFFFF;



/* 더 알아보기 > */


position: absolute;
width: 125px;
height: 34px;
left: 233px;
top: 2295px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
/* or 16px */

display: flex;
align-items: center;
text-align: center;

color: #2588E5;



/* 구입하기 > */


position: absolute;
width: 118px;
height: 34px;
left: 313px;
top: 2295px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
/* or 16px */

display: flex;
align-items: center;
text-align: center;

color: #2588E5;



/* MacBook pro 13 */


position: absolute;
width: 224px;
height: 45px;
left: 223px;
top: 2235px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 150%;
/* identical to box height, or 45px */

text-align: center;

color: #FFFFFF;

/*다섯번째화면*/

/* image 8 */


position: absolute;
width: 671px;
height: 406px;
left: 678px;
top: 2202px;

background: url(image.png);


/* image 10 */


position: absolute;
width: 26px;
height: 37px;
left: 952px;
top: 2238px;

background: url(image.png);


/* 이제껏 가장 큰 디스플레이 탑재. */


position: absolute;
width: 193px;
height: 25px;
left: 910px;
top: 2290px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 150%;
/* or 20px */

text-align: center;

color: #424244;



/* SERIES 7 */


position: absolute;
width: 59px;
height: 15px;
left: 979px;
top: 2270px;

font-family: 'Reem Kufi Ink';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* or 18px */

text-align: center;

color: #D64F55;



/* 더 알아보기 > */


position: absolute;
width: 125px;
height: 34px;
left: 908px;
top: 2309px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
/* or 16px */

display: flex;
align-items: center;
text-align: center;

color: #2588E5;



/* 구입하기 > */


position: absolute;
width: 118px;
height: 34px;
left: 988px;
top: 2309px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
/* or 16px */

display: flex;
align-items: center;
text-align: center;

color: #2588E5;



/* WATCH */


position: absolute;
width: 110px;
height: 35px;
left: 963px;
top: 2241px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 150%;
/* identical to box height, or 34px */

text-align: center;

color: #040707;

/*여섯번째 화면*/

/* image 11 */


position: absolute;
width: 670px;
height: 419px;
left: -1px;
top: 2622px;

background: url(image.png);


/* ipad air */


position: absolute;
width: 92px;
height: 42px;
left: 286px;
top: 2653px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 150%;
/* identical to box height, or 42px */

text-align: center;

color: #FFFFFF;



/* 더 알아보기 > */


position: absolute;
width: 125px;
height: 34px;
left: 236px;
top: 2713px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
/* or 16px */

display: flex;
align-items: center;
text-align: center;

color: #2588E5;



/* 구입하기 > */


position: absolute;
width: 118px;
height: 34px;
left: 316px;
top: 2713px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
/* or 16px */

display: flex;
align-items: center;
text-align: center;

color: #2588E5;



/* 가뿐하게. 색다르게. 강력하게. */


position: absolute;
width: 173px;
height: 25px;
left: 247px;
top: 2693px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* or 21px */

text-align: center;

color: #FFFFFF;

/*일곱번째 화면*/

/* Rectangle 15 */


position: absolute;
width: 670px;
height: 415px;
left: 679px;
top: 2622px;

background: #000000;


/* 새롭게 귓가를 찾아온 매혹. */


position: absolute;
width: 173px;
height: 25px;
left: 926px;
top: 2692px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* or 21px */

text-align: center;

color: #FFFFFF;



/* Airpods pro */


position: absolute;
width: 149px;
height: 42px;
left: 938px;
top: 2652px;

font-family: 'Sansation';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 150%;
/* identical to box height, or 42px */

text-align: center;

color: #FFFFFF;



/* 더 알아보기 > */


position: absolute;
width: 125px;
height: 34px;
left: 914px;
top: 2712px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
/* or 16px */

display: flex;
align-items: center;
text-align: center;

color: #2588E5;



/* 구입하기 > */


position: absolute;
width: 118px;
height: 34px;
left: 994px;
top: 2712px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
/* or 16px */

display: flex;
align-items: center;
text-align: center;

color: #2588E5;

/*여덟번째 화면*/

/* image 13 */


position: absolute;
width: 669px;
height: 422px;
left: 0px;
top: 3052px;

background: url(image.png);


/* ipad */


position: absolute;
width: 55px;
height: 42px;
left: 296px;
top: 3359px;

font-family: 'Sansation';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 150%;
/* identical to box height, or 42px */

text-align: center;

color: #1D1D1F;



/* 더 알아보기 > */


position: absolute;
width: 125px;
height: 34px;
left: 228px;
top: 3419px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
/* or 16px */

display: flex;
align-items: center;
text-align: center;

color: #2588E5;



/* 구입하기 > */


position: absolute;
width: 118px;
height: 34px;
left: 308px;
top: 3419px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
/* or 16px */

display: flex;
align-items: center;
text-align: center;

color: #2588E5;



/* 매사를 더욱 쉽게. */


position: absolute;
width: 102px;
height: 19px;
left: 274px;
top: 3400px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* or 21px */

text-align: center;

color: #555557;



/* 새로워진 */


position: absolute;
width: 89px;
height: 19px;
left: 281px;
top: 3352px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 150%;
/* or 15px */

text-align: center;

color: #555557;

/*아홉번째 화면*/

/* image 14 */


position: absolute;
width: 679px;
height: 428px;
left: 669px;
top: 3049px;

background: url(image.png);


/* image 15 */


position: absolute;
width: 29px;
height: 31px;
left: 972px;
top: 3334px;

background: url(image.png);


/* tv+ */


position: absolute;
width: 47px;
height: 45px;
left: 995px;
top: 3325px;

font-family: 'Sarabun';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 150%;
/* identical to box height, or 45px */

text-align: center;

color: #FFFFFF;



/* 더 알아보기 > */


position: absolute;
width: 125px;
height: 34px;
left: 896px;
top: 3407px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
/* or 16px */

display: flex;
align-items: center;
text-align: center;

color: #2588E5;



/* 무료 체험하기 */

.footer-nav
{position: absolute;
width: 114px;
height: 34px;
left: 985px;
top: 3407px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
/* or 16px */

display: flex;
align-items: center;
text-align: center;

color: #2588E5;}



/* Apple 기기를 구입하면 Apple TV+가 3개월 무료. */


position: absolute;
width: 160px;
height: 43px;
left: 933px;
top: 3368px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 150%;
/* or 21px */

text-align: center;

color: #FFFFFF;

/*footer*/
/*1상자부분*/
.div id
{position: absolute;
width: 1349px;
height: 672px;
left: 0px;
top: 3492px;}


/*2글씨상단문구*/

position: absolute;
width: 1108px;
height: 76px;
left: 134.2px;
top: 34px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
/* or 167% */

letter-spacing: 0.01px;

/* second text */

color: #5C5C5C;



/* Line 2 */


position: absolute;
width: 1113px;
height: 0px;
left: 113px;
top: 120px;

border: 1px solid #C8C8C8;


/*쇼핑 및 알아보기*/
position: absolute;
height: 300px;
left: 0%;
right: 27.12%;
top: calc(50% - 300px/2 + 43.5px);

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 30px;
/* or 250% */


color: #22343D;

/*서비스*/

position: absolute;
height: 240px;
left: 22.98%;
right: 70.35%;
top: calc(50% - 240px/2 - 86px);

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 30px;
/* or 250% */


color: #22343D;

/*계정*/
position: absolute;
height: 120px;
left: 22.98%;
right: 69.76%;
top: calc(50% - 120px/2 + 108px);

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 30px;
/* or 250% */


color: #22343D;

/*Apple store*/
.li
{position: absolute;
height: 330px;
left: 38.32%;
right: 54.71%;
top: calc(50% - 330px/2 - 41px);

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 30px;
/* or 250% */


color: #22343D;}


/*비즈니스*/
.li{
position: absolute;
height: 90px;
left: 54.34%;
right: 34.25%;
top: calc(50% - 90px/2 - 161px);

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 30px;
/* or 250% */


color: #22343D;
}

/*교육*/
.li{
position: absolute;
height: 120px;
left: 54.34%;
right: 34.03%;
top: calc(50% - 120px/2 - 39px);

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 30px;
/* or 250% */


color: #22343D;}

/*가치관*/
.li{
position: absolute;
height: 150px;
left: 74.35%;
right: 17.79%;
top: calc(50% - 150px/2 - 131px);

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 30px;
/* or 250% */


color: #22343D;}

/*정보*/
.li
{position: absolute;
height: 240px;
left: 74.35%;
right: 18.9%;
top: calc(50% - 240px/2 + 93px);

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 30px;
/* or 250% */

color: #22343D;}



/*다양한쇼핑방법*/
.p
{position: absolute;
width: 1062px;
height: 100px;
left: 110px;
top: 543px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 25px;
/* or 208% */


color: #000000;}

/* Line 3 */

.hr
{position: absolute;
width: 1113px;
height: 0px;
left: 113px;
top: 580px;

border: 1px solid #C8C8C8;}

/*대한민국*/

.p{
position: absolute;
width: 45px;
height: 25px;
left: 1181px;
top: 583px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 25px;
/* identical to box height, or 208% */


color: #000000;}

